<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Sample App</title>
</head>
<body>
  <h1>TechTrain MISSION</h1>
  <h2>ユーザー一覧</h2>
  <table>
    <tr>
      <td>Name</td>
      <td>ID</td>
      <td>Token</td>
    </tr>
    {{ range .users }}
      <tr>
        <td>{{ .Name }}</td>
        <td>{{ .ID }}</td>
        <td>{{ .Token }}</td>
      </tr>
    {{ end }}
  </table>
  <h2>キャラクター一覧</h2>
  <table>
    <tr>
      <td>Name</td>
      <td>ID</td>
      <td>Rank</td>
    </tr>
    {{ range .characters }}
    <tr>
      <td>{{ .Name }}</td>
      <td>{{ .ID }}</td>
      <td>{{ .Rank }}</td>
    </tr>
    {{ end }}
  </table>
  <h2>Gacha Types</h2>
  <table>
    <tr>
      <td>Gacha ID</td>
      <td>Character ID</td>
      <td>Odds</td>
    </tr>
    {{ range .gacha_character_odds }}
    <tr>
      <td>{{ .GachaID }}</td>
      <td>{{ .CharacterID }}</td>
      <td>{{ .Odds }}</td>
    </tr>
    {{ end }}
  </table>
</body>
</html>